<div class="w-6xl h-auto mx-auto">
  <div class="mt-6 w-full h-52 flex flex-col items-center rounded-lg">
    <div class="h-8 w-full px-1 flex justify-between items-center">
      <div class="text-sm font-medium">Available in North Goa this weekend</div>
      <div class="flex items-center gap-1">
        <div
          class="h-5 w-5 bg-gray-200 rounded-full flex justify-center items-center cursor-pointer hover:bg-gray-300"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="20px"
            viewBox="0 -960 960 960"
            width="20px"
            fill="#000000"
          >
            <path d="M576-240 336-480l240-240 51 51-189 189 189 189-51 51Z" />
          </svg>
        </div>
        <div
          class="h-5 w-5 bg-gray-200 rounded-full flex justify-center items-center cursor-pointer hover:bg-gray-300"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="18px"
            viewBox="0 -960 960 960"
            width="18px"
            fill="#000000"
          >
            <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
          </svg>
        </div>
      </div>
    </div>
    <div class="h-full w-full bg-fuchsia-200 px-1 overflow-x-auto overflow-y-hidden">
       
         
    </div>
  </div>
</div>
