server:
  port: ${PORT:8080}

spring:
  application:
    name: api-gateway

  cloud:
    gateway:

      # IMPORTANT: avoid duplicate CORS headers
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials

      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - https://airbnb-1-bndh.onrender.com
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - Authorization
              - Content-Type
            allowCredentials: false

      routes:

        # AUTH → USER SERVICE
        - id: user-service
          uri: ${USER_SERVICE_URL}
          predicates:
            - Path=/auth/**

        # LISTING → LISTING SERVICE
        - id: listing-service
          uri: ${LISTING_SERVICE_URL}
          predicates:
            - Path=/listing/**

jwt:
  secret: ${JWT_SECRET}
