server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:

      # Gateway should NOT mess with auth headers
      default-filters:
        - PreserveHostHeader

      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:4200"
            allowedHeaders:
              - Authorization
              - Content-Type
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowCredentials: true

      routes:
        - id: user-service
          uri: ${USER_SERVICE_URL}
          predicates:
            - Path=/auth/**
          filters:
            - RemoveRequestHeader=Cookie

        - id: listing-service
          uri: ${LISTING_SERVICE_URL}
          predicates:
            - Path=/listing/**
          filters:
            - RemoveRequestHeader=Cookie

jwt:
  secret: ${JWT_SECRET}
