server:
  port: ${PORT:8080}

spring:
  application:
    name: api-gateway

  cloud:
    gateway:

      default-filters:
        - PreserveHostHeader

      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:4200"
            allowedHeaders:
              - Authorization
              - Content-Type
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowCredentials: true

      routes:

        # AUTH → USER SERVICE
        - id: user-service
          uri: ${USER_SERVICE_URL}
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1
            - RemoveRequestHeader=Cookie

        # LISTING → LISTING SERVICE
        - id: listing-service
          uri: ${LISTING_SERVICE_URL}
          predicates:
            - Path=/listing/**
          filters:
            - StripPrefix=1
            - RemoveRequestHeader=Cookie

jwt:
  secret: ${JWT_SECRET}
